<!doctype html>
<html lang="en-gb">
<head>
  <meta charset="utf-8">
  <meta property="og:title" content="{% if title != '' %}{{ title | markdownify: 'inline' | strip_html }}{% else %}{{ app.title }}{% endif %}">
  <meta property="og:description" name="description" content="{% if summary %}{{ summary | markdownify | strip_html | strip_newlines | strip }}{% else %}{{ app.description }}{% endif %}">
  <meta property="og:url" content="{% if url %}{{ url }}{% else %}{{ page.url | prepend: app.url | pretty }}{% endif %}">
  <meta name="twitter:site" content="@multipack">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="{% if hidden == true %}noindex{% else %}index{% endif %}, follow">

  <link rel="stylesheet" href="/assets/styles/app.css">
  <script src="/assets/scripts/app.js" async></script>

  <title>{% if type != 'homepage' %}{{ title | markdownify: 'inline' | strip_html }} — {% endif %}{{ app.title }}</title>
</head>
<body>

<div class="container">

  <section role="main">

    <header>
      {%- include 'navigation' -%}

      <div class="branding {{ branding }}">
        <h1>{{ app.title }}</h1>
        <h2>{{ app.description }}</h2>
      </div>
    </header>

    {%- block 'main' -%}
      {{ layoutContent }}
    {%- endblock -%}

  </section>

  {%- include 'contentinfo' -%}

  <!-- Google Analytics -->
  <script>var _gaq=[['_setAccount','UA-32139617-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>

</div>

</body>
</html>
